/**
 * Typography Styles
 * 
 * This file contains the typography styles for the application, including styles for headings, text, and links.
 * It imports design tokens from the settings file to maintain consistency across the application.
 */

/* Import settings (design tokens) */
@use "../1-settings/" as settings;

/* Styles for heading level 1 */
.heading-1 {
  letter-spacing: settings.$letter-spacing;
  margin-bottom: 0;
  font-size: settings.$font-size-large;
  font-weight: settings.$font-weight-bold;
  line-height: settings.$line-height;
  color: settings.$color-dark-green;
}

/* Styles for heading level 2 */
.heading-2 {
  font-size: settings.$font-size-medium;
  color: settings.$color-dark-green;
  margin-bottom: settings.$spacing-small;
}

/* Styles for text */
.text {
  letter-spacing: settings.$letter-spacing-text;
  font-size: settings.$font-size-small;
  font-weight: settings.$font-weight-normal;
  line-height: settings.$line-height-text;
  margin: 0;
}

.text--bold {
  letter-spacing: settings.$letter-spacing;
  margin: settings.$spacing-large 0;
  font-size: settings.$font-size-text-big;
  font-weight: settings.$font-weight-bold;
  line-height: settings.$line-height;
  color: settings.$color-dark-green;
  text-align: center;
}

/* Styles for links */
.link {
  color: settings.$color-link;
  text-decoration: none;

  &:hover {
    color: settings.$color-link-hover;
  }
}
